.cancel-last-margin {
  h1, h2, h3, h4, h5, p, ul {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.subtitle {
  color: var(--accent-color);
  text-transform: uppercase;
}

.cta, .button, button {
  background-color: var(--button-bg-color);
  border: 1px solid var(--button-bg-color);
  color: var(--button-color);
  transition: background-color 250ms;
}

hr {
  border-color: var(--text-color);
}


p:empty {
  display: none;
}

.inherit-a-color {
  a, a:hover, a:active, a:focus {
    color: inherit;
  }
}

.color-accent {
  color: var(--accent-color);
}

.no-touchevents {
  .cta, .button, button {
    &:hover, &:active, &:focus {
      background-color: var(--button-color);
      color: var(--button-bg-color);
    }  
  }
}