p {
  @include fluid-type(16px, 18px);
}

h1 {
  @include fluid-type(30px, 60px);
}

.cancel-last-margin {
  h1, h2, h3, h4, h5, p, ul {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.subtitle {
  color: var(--accent-color);
  text-transform: uppercase;
}

.cta, .button, button {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  color: $white;
  @include fluid-props(12px,20px,padding-top);
  @include fluid-props(16px,28px,padding-left);
  @include fluid-props(12px,20px,padding-bottom);
  @include fluid-props(16px,28px,padding-right);
  display: inline-block;
  line-height: 1 !important;
}

hr {
  border-color: var(--text-color);
}

.no-touchevents {
  .cta, .button, button {
    &:hover, &:active, &:focus {
      background-color: var(--bg-color);
      color: var(--text-color);
    }  
  }
}